from googleapiclient.http import MediaFileUpload
import os
import json
from google_auth_oauthlib.flow import Flow
from google.oauth2.credentials import Credentials
from googleapiclient.discovery import build
from telegram import Update, InlineKeyboardButton, InlineKeyboardMarkup
from telegram.ext import  ApplicationBuilder, CommandHandler, MessageHandler, CallbackQueryHandler, filters, ContextTypes
from oauth import generate_google_oauth_url, upload_to_google_drive, list_drive_files
import threading
from callback_server import app as flask_app
from urllib.parse import quote
from dotenv import load_dotenv
from flask import Flask, request, render_template_string
from google_auth_oauthlib.flow import Flow
from oauth import save_user_credentials
import bcrypt
from telegram import Bot
from db import check_email_exists, check_password , create_user
from session_store import user_sessions
import asyncio  
import mysql.connector

